.App {
  background-color: #282c34;
  color: white;

  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 20vh;
  margin-top: 20px;
}

.App-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #27829b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  margin: 50px 70px;
  
}

.image {
  max-width: 100%;

  display: flex;
  flex-direction: column;
}

.arrow {
  margin-left: 270px;
}

.loadingImage {
  margin-left: 180px;

}